= wrap_layout :layout do
  .row.row--dark
    .cell.well
      %a.logo{href: '/'}
        %h4 Designer &amp; Developer
        %h2 John Wilson
      %h4.mtxl.ptxl
        = link_to "Home", "/"
        %span &bull;
        = link_to "Journal", "/journal"
        %span &bull; Entry
      %h1= current_article.title

.row.row--white
  .cell.well.well--article
    .g
      .g-b.g-b--m--2of3
        %article.article
          %h4.article-date= current_article.date.strftime('%B %e, %Y')
          = yield
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("profile.jpg"))
          .bucket-content
            %h3.mbs= link_to "About John", "/about"
            %p
              John is a multi‑disciplinary designer and developer
              based in Orlando currently working at
              <a href="http://madewithenvy.com/">Envy</a> and taking
              on select freelance projects. Between Envy and
              freelance, he helps plan, design and build modern web
              applications and websites for both large brands
              and small businesses alike.

= partial "shared/footer"
