%footer.footer
  .cell.well
    .g
      .g-b.g-b--m--1of3
        %a.logo{href: '/'}
          %h4 Designer &amp; Developer
          %h2 John Wilson
        %ul.mts
          %li
            %a{href: '/about'} About
          %li
            %a{href: '#'} Journal
      .g-b.g-b--m--1of3
        %h4 Compatriots
        %ul
          %li= link_to 'Dan Denney', 'http://dandenney.com/'
          %li= link_to 'Drew Barontini', 'http://drewbarontini.com/'
          %li= link_to 'Drew Powers', 'http://dangodesign.net/'
          %li= link_to 'Jacob Smeraglia', 'http://www.jsmeraglia.com/'
          %li= link_to 'Jason VanLue', 'http://jasonvanlue.com/'
          %li= link_to 'Josh Carnley', 'http://www.carnleydesign.com/'
          %li= link_to 'Justin Mezzell', 'http://justinmezzell.com/'
          %li= link_to 'Nick Walsh', 'http://nick-walsh.com/'
          %li= link_to 'Tim Dikun', 'https://twitter.com/tdikun'
      .g-b.g-b--m--1of3
        %h4 Colophon
        %p
          This site has been designed, developed, and maintained
          by John Wilson. It is hosted on
          <a href="https://pages.github.com/">GitHub Pages</a>
          and set in Futura PT and Proxima Nova which are delivered
          by <a href="https://typekit.com/">Typekit</a>.
