%footer.footer
  .cell.well.well--footer
    .g
      .g-b.g-b--s--1of2.g-b--m--1of3
        %a.logo{href: '/'}
          %h4 Designer &amp; Developer
          %h2 John Wilson
        %ul.mts
          %li
            %a{href: '/about'} About
          %li
            %a{href: '/journal'} Journal
      .g-b.g-b--s--1of2.g-b--m--1of3.fr
        %h4 Colophon
        %p
          This site has been designed, developed, and maintained
          by John Wilson. It is built with
          <a href="https://middlemanapp.com">Middleman</a> and
          hosted on <a href="https://pages.github.com/">GitHub Pages</a>.
          Typefaces are set in Futura PT and Proxima Nova which
          are delivered by <a href="https://typekit.com/">Typekit</a>.
      .g-b.g-b--s--1of1.g-b--m--1of3.fr
        %h4 Compatriots
        %ul.footer-compatriots
          %li= link_to 'Ayana Campbell', 'https://dribbble.com/_ayanacampbell'
          %li= link_to 'Dan Denney', 'http://dandenney.com/'
          %li= link_to 'Drew Barontini', 'http://drewbarontini.com/'
          %li= link_to 'Drew Powers', 'http://dangodesign.net/'
          %li= link_to 'Jacob Smeraglia', 'http://www.jsmeraglia.com/'
          %li= link_to 'Jason VanLue', 'http://jasonvanlue.com/'
          %li= link_to 'Josh Carnley', 'http://www.carnleydesign.com/'
          %li= link_to 'Justin Mezzell', 'http://justinmezzell.com/'
          %li= link_to 'Nick Walsh', 'http://nick-walsh.com/'
          %li= link_to 'Tim Dikun', 'https://twitter.com/tdikun'
    .social.footer-social
      = link_to "https://twitter.com/jhnwlsn" do
        = image_tag(image_path("social-twitter.svg"))
      = link_to "https://dribbble.com/jhnwlsn" do
        = image_tag(image_path("social-dribbble.svg"))
      = link_to "https://github.com/jhnwlsn" do
        = image_tag(image_path("social-github.svg"))
    .footer-copyright
      %p
        &copy;
        = Time.now.strftime('%Y')
        All Rights Reserved.
