%footer.footer
  .cell.well
    .g
      .g-b.g-b--m--1of3
        %a.logo{href: '/'}
          %h4 Designer &amp; Developer
          %h2 John Wilson
        %a{href: '#'} About
        %a{href: '#'} Journal
      .g-b.g-b--m--1of3
        %h4 Compatriots
        %ul
          %li= link_to 'Dan Denney', '#'
          %li= link_to 'Drew Barontini', '#'
          %li= link_to 'Drew Powers', '#'
          %li= link_to 'Jacob Smeraglia', '#'
          %li= link_to 'Jason VanLue', '#'
          %li= link_to 'Josh Carnley', '#'
          %li= link_to 'Justin Mezzell', '#'
          %li= link_to 'Nick Walsh', '#'
          %li= link_to 'Tim Dikun', '#'
      .g-b.g-b--m--1of3
        %h4 Colophon
        %p
          This site has been designed, developed, and maintained
          by John Wilson. It is hosted on
          <a href="https://pages.github.com/">GitHub Pages</a>
          and set in Futura PT and FF Meta which are delivered
          by <a href="https://typekit.com/">Typekit</a>.
