.row
  .cell.well
    %a.logo{href: '/'}
      %h4 Designer &amp; Developer
      %h2 John Wilson
    .g
      .g-b.g-b--m--1of2
        %h2.mtxl.tca About John
        %p.mbf.tci
          John is a multi‑disciplinary designer and developer
          based in Orlando currently working at
          <a href="http://madewithenvy.com/">Envy</a> and taking
          on select freelance projects. Between Envy and
          freelance, he helps plan, design and build modern web
          applications and websites. He has helped large brands
          and small businesses build successfull web applications
          and websites.
      .g-b.g-b--m--5of12
        %h2.mtxl.tca Experience
        %p.tci
          Through both Envy and freelance projects, John has had
          the experience of working with top brands in the faith
          and technology fields, such as...

.row.row--invert
  .cell.well
    .g
      .g-b.g-b--m--1of2.fr
        %h2.mbl Hire John
        %h3 Scheduling
        %p
          John likes to book his available time into one week
          increments. Find out John’s available weeks and book
          him using the grid below. Simply select the date you
          would like your project to start.
        %h3 Rates
        %p
          All work is billed at <strong>$125 per hour</strong>
          with consulting services at a fixed price. If your
          project requires a fixed price, a non‑refundable down
          payment will be needed in order to reserve time.
          Otherwise, all time will need to be booked before
          project kickoff. There is minimum of 10 hours ($1250)
          per project.
        %h3 Legal
        %p
          All clients are be required to sign a Services
          Agreement and a mutually agreed-upon Scope Agreement.
          If an NDA is a requirement for the project, there will
          be an additional fee of $1250—the Services Agreement
          includes an NDA.
        %h3 Availability
        %p
          Simply click on an available time that you’d like to
          request to book. If this format doesn’t work for you,
          simply write an email to
          = link_to 'john@j-wilson.com', 'mailto:john@j-wilson.com'
          and mention the date you would like work to begin and
          other project details.
      .g-b.g-b--m--1of2
        %h2.mbl Available Services
        %h3 UI / UX Design
        %p.mbl
          Duis mollis, est non commodo luctus, nisi erat
          porttitor ligula, eget lacinia odio sem nec elit. Cum
          sociis atoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Cum sociis natoque
          penatibus et.
        %h3 Development
        %p.mbl
          Duis mollis, est non commodo luctus, nisi erat
          porttitor ligula, eget lacinia odio sem nec elit. Cum
          sociis atoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Cum sociis natoque
          penatibus et.
        %h3 Consulting
        %p
          Duis mollis, est non commodo luctus, nisi erat
          porttitor ligula, eget lacinia odio sem nec elit. Cum
          sociis atoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Cum sociis natoque
          penatibus et.
        %h2.mbl.mtxl Contact &amp; Social
        %p.mbf Email John at:
        = link_to 'john@j-wilson.com', 'mailto:john@j-wilson.com', class: 'tfh tsm'
        %p.mbf.mtl Find John at any of these digital outlets:
        = link_to 'Twitter', '#'
        = link_to 'Dribbble', '#'
        = link_to 'GitHub', '#'

%footer.footer
  .cell.well
    .g
      .g-b.g-b--m--1of3
        %a.logo{href: '/'}
          %h4 Designer &amp; Developer
          %h2 John Wilson
        %a{href: '#'} About
        %a{href: '#'} Journal
      .g-b.g-b--m--1of3
        %h4 Compatriots
        %ul
          %li= link_to 'Dan Denney', '#'
          %li= link_to 'Drew Barontini', '#'
          %li= link_to 'Drew Powers', '#'
          %li= link_to 'Jacob Smeraglia', '#'
          %li= link_to 'Jason VanLue', '#'
          %li= link_to 'Josh Carnley', '#'
          %li= link_to 'Justin Mezzell', '#'
          %li= link_to 'Nick Walsh', '#'
          %li= link_to 'Tim Dikun', '#'
      .g-b.g-b--m--1of3
        %h4 Colophon
        %p
          This site has been designed, developed, and maintained
          by John Wilson. It is hosted on
          <a href="https://pages.github.com/">GitHub Pages</a>
          and set in Futura PT and FF Meta which are delivered
          by <a href="https://typekit.com/">Typekit</a>.
