.row
  .cell.well
    %a.logo{href: '/'}
      %h4 Designer &amp; Developer
      %h2 John Wilson
    .g.mtxl.ptxl
      .g-b.g-b--m--1of2
        .bucket.bucket--horizontal
          .bucket-media
            = image_tag(image_path("profile.jpg"))
          .bucket-content
            %h2.tca About John
            %p.mbf.tci
              John is a multi‑disciplinary designer and developer
              based in Orlando currently working at
              <a href="http://madewithenvy.com/">Envy</a> and taking
              on select freelance projects. Between Envy and
              freelance, he helps plan, design and build modern web
              applications and websites for both large brands
              and small businesses alike.
      .g-b.g-b--m--1of2
        %h2.tca Experience
        %p.mbs.tci
          Through both Envy and freelance projects, John has had
          the experience of working with top brands in the faith
          and technology fields, such as...
        .logo.logo--list
          = image_tag(image_path("logos.png"))

.row.row--invert
  .cell.well
    .g
      .g-b.g-b--m--1of2.fr
        %h2.mbxl Hire John
        %h3 Scheduling
        %p
          John likes to book his available time into one week
          increments. Find out John’s available weeks and book
          him using the grid below. Simply select the date you
          would like your project to start.
        %h3 Rates
        %p
          All work is billed at <strong>$125 per hour</strong>
          with consulting services at a fixed price. If your
          project requires a fixed price, a non‑refundable down
          payment will be needed in order to reserve time.
          Otherwise, all time will need to be booked before
          project kickoff. There is minimum of 10 hours ($1250)
          per project.
        %h3 Legal
        %p
          All clients are be required to sign a Services
          Agreement. If an NDA is a requirement for the project,
          there will be an additional fee of $1250—the Services
          Agreement includes an NDA.
          = link_to "View a sample Service Agreement", "#"
        %h3 Availability
        %p
          Simply click on an available time that you’d like to
          request to book. If this format doesn’t work for you,
          simply write an email to
          = link_to 'john@j-wilson.com', 'mailto:john@j-wilson.com'
          and mention the date you would like work to begin and
          other project details.
        .availability
          - data.availability.each do |a|
            - if a.available
              = link_to a.date, "mailto:john@j-wilson?subject=I'd like to hire you the week of #{a.date}"
            - else
              %span= a.date
      .g-b.g-b--m--1of2
        %h2.mbxl Available Services
        .bucket.mbl
          .bucket-media
            = image_tag(image_path("service-design.svg"))
          .bucket-content
            %h3 UI / UX Design
            %p.mbl
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
        .bucket.mbl
          .bucket-media
            = image_tag(image_path("service-development.svg"))
          .bucket-content
            %h3 Development
            %p.mbl
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
        .bucket
          .bucket-media
            = image_tag(image_path("service-consulting.svg"))
          .bucket-content
            %h3 Consulting
            %p
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
        %h2.mbl.mtl Contact &amp; Social
        %p.mbf Email John at:
        = link_to 'john@j-wilson.com', 'mailto:john@j-wilson.com', class: 'tfh tsm'
        %p.mbf.mtl Find John at any of these digital outlets:
        = link_to 'Twitter', '#'
        = link_to 'Dribbble', '#'
        = link_to 'GitHub', '#'

= partial 'shared/footer'
