.row.row--dark
  .cell.well
    %a.logo{href: '/'}
      %h4 Designer &amp; Developer
      %h2 John Wilson
    %h1.mtxl.ptxl
      %span.tca Designer, Developer,
      %br
      %span Husband, Father &amp; Cyclist
    .g
      .g-b.g-b--s--2of3.g-b--m--1of2
        %p.tci
          %strong
            Currently working at <a href="http://madewithenvy.com/">Envy</a>
            and taking on various freelance projects.
          I like to help large companies and small business plan,
          design and develop websites and apps that help them
          become more successful on the web.
        %a.btn{href: '/about'} Hire me

.row
  .cell.well
    %h2 Services
    .g
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-design.svg"))
          .bucket-content
            %h3 UI / UX Design
            %p
              My goal is to design applications and websites so
              that they are simple to use and to look at. To make
              sure that tings stay simple and easy to use, my
              process reflects that by being straightforward and
              not overly complicated.
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-development.svg"))
          .bucket-content
            %h3 Development
            %p
              I like to make sure the simplicity of design is
              also transfered into the development phase by
              creating systems that are flexible and easily
              expandable. I use
              = link_to "MVCSS", "http://mvcss.io/"
              for CSS and a
              = link_to "DRY", "http://en.wikipedia.org/wiki/Don%27t_repeat_yourself"
              approach for back-end development.
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-consulting.svg"))
          .bucket-content
            %h3 Consulting
            %p
              The best software is that which evolves and changes
              often to keep up with industry standards and user
              desires. By creating a speicfic strategy for your
              product or brand, you can guarantee a better chance
              of future success.
    .g
      .g-b.g-b--s--1of2.g-b--m--1of3
        %h2.mbm About John
        %p
          Hi! My name is John. I am a multi‑disciplinary designer
          and developer based in Orlando currently working at
          <a href="http://madewithenvy.com/">Envy</a> and taking
          on select freelance projects. Between Envy and
          freelance, I help plan, design and build modern web
          applications and websites for large brands
          and small businesses.
        %a.btn{href: '/about'} Learn More
      .g-b.g-b--s--1of2.g-b--m--2of3
        %h2.mbm Recent Entries
        .g
          - blog.articles[0..1].each do |entry|
            .g-b.g-b--m--1of2
              %h3= link_to entry.title, entry.url, class: "ellipsis"
              %h4= entry.date.strftime('%B %e, %Y')
              = entry.summary(135, '...')
        %a.btn{href: '/journal'} Visit the Journal

= partial 'shared/footer'
