.row.row--dark
  .cell.well
    %a.logo{href: '/'}
      %h4 Designer &amp; Developer
      %h2 John Wilson
    %h1.mtxl.ptxl
      %span.tca Designer, Developer,
      %br
      %span Husband, Father &amp; Cyclist
    .g
      .g-b.g-b--s--2of3.g-b--m--1of2
        %p.tci
          John currently works at <a href="http://madewithenvy.com/">Envy</a>
          and takes on various freelance projects. He has helped large
          companies and small business plan, design and develop websites
          and apps that help them become more successful on the web.
        %a.btn{href: '/about'} Hire John

.row
  .cell.well
    %h2 Services
    .g
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-design.svg"))
          .bucket-content
            %h3 UI / UX Design
            %p
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-development.svg"))
          .bucket-content
            %h3 Development
            %p
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
      .g-b.g-b--m--1of3
        .bucket.bucket--vertical
          .bucket-media
            = image_tag(image_path("service-consulting.svg"))
          .bucket-content
            %h3 Consulting
            %p
              Duis mollis, est non commodo luctus, nisi erat
              porttitor ligula, eget lacinia odio sem nec elit. Cum
              sociis atoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Cum sociis natoque
              penatibus et.
    .g
      .g-b.g-b--s--1of2.g-b--m--1of3
        %h2.mbm About John
        %p
          John is a multi‑disciplinary designer and developer
          based in Orlando currently working at
          <a href="http://madewithenvy.com/">Envy</a> and taking
          on select freelance projects. Between Envy and
          freelance, he helps plan, design and build modern web
          applications and websites for both large brands
          and small businesses alike.
        %a.btn{href: '/about'} Learn More
      .g-b.g-b--s--1of2.g-b--m--2of3
        %h2.mbm Recent Entries
        .g
          - blog.articles[0..1].each do |entry|
            .g-b.g-b--m--1of2
              %h3= link_to entry.title, entry.url, class: "ellipsis"
              %h4.mbf= entry.date
              %p= entry.summary(155, '...')
        %a.btn{href: '/journal'} Visit the Journal

= partial 'shared/footer'
